
/*Cajas para el Formulario*/

#cajadatosformulario{
    position:relative;
    top:50px;
    left:250px;
    height:510px;
    width:554px;
    background-color: silver;
}

#cajadatosformulario fieldset{
    position: relative;
    top:5px;
    left:2px;
    margin:auto;
    width:480px;
    overflow:hidden;
    padding:10px;
    background-color:whitesmoke;
}

#cajadatosformulario p{
    position :relative;
    left:80px;
    top:20px;
    color: black;
    font-size: small;
}

#cajadatosformulario label{
	float:left; /* Importante, para la alineación */
	width:70px; /* ancho del label */
	font-size:14px;
	margin:5px 0 15px;
}
 #cajadatosformulario input{
	float:left;/* Importante, para la alineación */
	width:130px; height:20px;/* Medidas del Input */
	/*margin:0 0 5px 0; padding:10px;*/
	color:#283A50;
        font-size:small;
}


.curved {
    -ms-border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    behavior:url(border-radius.htc);
}

.fieldset{padding:10px; border: dotted 1px silver;}

/* css para las tablas*/
#cajaTablas{
    position:relative;
    top:50px;
    left:100px;
    height:510px;
    width:850px;
    background-color: silver;
}
#subCajaTablas{
    position:relative;
    top:20px;
    left:20px;
    height:470px;
    width:800px;
    background-color: white;
}
.tabla {
font-size: 12px;
font-weight:bold;
background-color: #fdfdf1;
background-image: url(fondo_tr02.png);
background-repeat: repeat-x;
color: #990000;
font-family: "Trebuchet MS", Arial;
text-align:left;
}
.tabla td {
padding: 5px;
border-right-width: 1px;
border-bottom-width: 1px;
border-right-style: solid;
border-bottom-style: solid;
border-right-color: #EBE9BC;
border-bottom-color: #EBE9BC;
}
.tabla th {
background-image: url(fondo_tr02a.png);
background-position: left top;
font-size: 12px;
font-weight:bold;
background-color: #fdfdf1;
background-repeat: repeat-x;
color: #990000;
font-family: "Trebuchet MS", Arial;
text-align:left;
border-right-width: 1px;
border-bottom-width: 1px;
border-right-style: solid;
border-bottom-style: solid;
border-right-color: #EBE9BC;
border-bottom-color: #EBE9BC;
}