/* 
    Document   : estilos_contactos
    Created on : 14/02/2011, 12:09:56 AM
    Author     : Xtratech
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

a {color:#000;}
a:hover {text-decoration:none;}
a:visited {color:black;}

/* slides styling */

.photo {width:335px; text-align:left; position:relative; top:15px; left:75px;}

.photo ul.topic {padding:0; margin:0; list-style:none; width:35px; height:auto; position:relative; z-index:0;}

.photo ul.topic li {display:block; width:125px; height:31px; float:left;}
.photo ul.topic li a.set {display:block; font-size:25px; width:124px; height:30px; text-align:center; line-height:30px; color:white; text-decoration:none; border:1px solid silver; border-width:1px 1px 0 0; background:silver; font-family:verdana, arial, sans-serif;}

.photo ul.topic li a ul,
.photo ul.topic li ul
{display:none;}

.photo ul.topic li.active a
{color:#000; background:gray;}

.photo ul.topic li a:hover,
.photo ul.topic li:hover a
{color:#fff; background:gray;}

.photo ul.topic li.active ul
{display:block; position:absolute; left:0; top:31px; list-style:none; padding:0; margin:0; height:175px; background:#E6E6FA; width:244px; padding:40px 60px; border:20px solid teal; z-index:1;}

.photo ul.topic li a:hover ul,
.photo ul.topic li:hover ul
{display:block; position:absolute; left:0; top:31px; list-style:none; padding:0; margin:0; height:175px; background:whitesmoke; width:244px; padding:40px 60px; border:20px solid teal; z-index:100;}

.photo ul.topic li ul li
{display:inline; width:112px; height:87px; float:left; border:1px solid #fff; margin:1px;}

.photo ul.topic li ul li a
{display:block; width:110px; height:85px; cursor:default; float:left; text-decoration:none; background:maroon; border:1px solid maroon;}

.photo ul.topic li ul li a img
{display:block; width:100px; height:75px; border:5px solid #eee;}
.photo ul.topic li a:hover ul li a:hover,
.photo ul.topic li:hover ul li a:hover
{white-space:normal; position:relative;}

.photo ul.topic li a:hover ul li a:hover img,
.photo ul.topic li:hover ul li a:hover img
{position:absolute; left:-50px; top:-32px; width:200px; height:150px; border-color:#283A50;}