/* 
    Document   : stylevisitante
    Created on : 10-feb-2011, 11:49:09
    Author     : Gonzalo
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


root { 
    display: block;
}

html, body1, ul, p{
    margin: 0px;
    padding: 0px;
}

html{
    background: #F4F1DD;
    /*#F4F1DD  #BFA230*/
}

body1
{
color: #666;
font-size: 12px;
margin-top: 100px;
text-align: justify;
}

#main{
	width:1024px;
	margin:0 auto;
}

#banner{
    background-color: transparent;
    background-image: url(../imagenes/banner.gif);
    width:1024px;
    height: 150px;
    padding-top: 0px;
    /*position:relative;*/
    margin: auto;
}

#header {
    background: red;
	width: 1024px;
	height: 150px;
	margin: 0 auto;


}
#content
{
    background-color:yellow;
    width:1024px;
    height:450px;
    position: relative;
}

#izq{
    background-color:maroon;
    /*background-image: url(../imagenes/izq.jpg);*/
    width:280px;
    height:400px;
    /*float:left;*/
    position: absolute;
    top: 16px;
    right: 0px;
    bottom: 0px;
    left: 12px;

}


#content-centro
{
	background-color: #48DD10;
        background-image: url(../imagenes/central.jpg);
	width:330px;
	height:400px;
	/*float:left;*/
        position: absolute;
        top: 16px;
        right: 0px;
        bottom: 0px;
        left: 347px;

}
#content-centro_ini
{
	background-color: black;

	width:330px;
	height:400px;
	/*float:left;*/
        position: absolute;
        top: 20px;
        right: 0px;
        bottom: 0px;
        left: 317px;

}
#mapa_Google {
    height:350px;
    left:30px;
    position:absolute;
    top:20px;
    width:630px;
}
#content-centro_ini p
{
    position: relative;
    top:07px;
    left: 0px;
    padding: 05px;
    text-align: center;
    font: 15px arial;
    color: white;
    
}



#content-informacion
{
	background-color: black;
	width:710px;
	height:400px;
        position: absolute;
        top: 15px;
        right: 0px;
        bottom: 0px;
        left: 307px;
}

#content-informacion p
{
    position: relative;
    top:07px;
    left: 0px;
    padding: 05px;
    text-align: justify;
    font: 15px arial;
    color: white;

}
#cajaformularioseccion{
    position:relative;
    top:180px;
    left:100px;
    height:250px;
    width:200px;
    background-color:transparent;
}

#der{
    background-color:red;
    background-image: url(../imagenes/der.jpg);
    width:330px;
    height:400px;
    /*float:left;*/
    position: absolute;
    top: 16px;
    right: 0px;
    bottom: 0px;
    left: 682px;
}



#footer{
    background-color:aqua;
    width:1024px;
    height: 25px;
    padding-top: 0px;
    margin: auto;
    /*left: auto;*/

}
#footer p{
    top:10px;
    text-align: center;
    font: 15px arial;
    color: blue;
    text-decoration: underline;
}

.curved {
    -ms-border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    behavior:url(border-radius.htc);
}

body1{padding:0; margin:0; background:url(../imagenes/imagesMenu/main-bg.gif) 0 0 repeat-x #FCFAE6; font:14px/20px Arial, Helvetica, sans-serif; color:#3D3C2C; font-weight:normal;}
div, p, h1, h2, h3, ul, img{padding:0px; margin:0px;}
ul{list-style-type:none;}

/* TOP PANEL */
#menu{width:778px; height:96px; position:relative; margin:0 auto; padding:0;}
#menu img{width:204px; height:57px; display:block; padding:23px 0 0 6px;}
/* Menu Panel */
#menu ul{width:520px; height:96px; display:block; position:absolute; top:0px; right:9px; margin:0; padding:0;}
#menu ul li{float:left; width:104px; display:block; text-align:center;}
#menu ul li a{width:104px; height:35px; display:block; font:16px/16px "Trebuchet MS",Arial, Helvetica, sans-serif; color:darkseagreen; background:url(../imagenes/imagesMenu/menu-bg.gif) 0 0 repeat-x #FCFAE9; text-decoration:none; margin:0; padding:61px 0 0 0; }
#menu ul li a:hover{ width:104px; height:35px; display:block; background: #FF3333; color:#FCFAE9; text-decoration:none;}
#menu ul li span{width:104px; height:35px; display:block; background:url(../imagenes/imagesMenu/menu-devider1.gif) 100% 0 no-repeat #FCFAE9; color:black; text-decoration:none; padding:61px 0 0 0; line-height:14px;}

#pitch { margin: 0px 0 0px 0; }
#pitch .infoline { font-family:'Lucida Handwriting'; margin-top: -35px; padding: 5px 0 5px 0px; filter=alpha(opacity = 70); background: aqua; font-size: 18px; width: 1024px; height: 14px; opacity:0.7;  color: blue; }
.pitch-gallery { overflow: hidden; width: 1024px; height: 150px; position: relative; }
.pitch-gallery-holder { width:4096px; position: relative; top: 0; left: 0; }
.pitch-gallery-div { float: left; }

/****************Borde y Sombreado*********************/
.sombra{
		 box-shadow: 5px 5px 0 white;
		-webkit-box-shadow: 5px 5px 0 white;
		-moz-box-shadow: 5px 5px 0 white;
}
.borderR {

		-moz-border-radius: 20px;
		-webkit-border-radius:20px;
		}


/*Estilo de el rotador de Imagenes Automaticos*/
#fotos{
    position:relative;
    top:10px;
    left:10px;
}

#contenedorfoto{
    position:relative;
    top:05px;
    left:20px;
    width: 290px;
    height: 260px;
    background-color:olive;
}

#contenedorfoto2{
    position:relative;
    top:0px;
    left:10px;
    width: 310px;
    height: 280px;
    background-color:#FFD700;
}