@charset "utf-8";
/* CSS Document */
ul.gallery a {
	color: #333;
	text-decoration:none;
}
ul.gallery li a:visited{
	color:#333;
}
ul.gallery li a img {
width: 150px;
}
ul.gallery {
	list-style:none;
}
.gallery {
/* This acts as the "box-container" you may style this as well */
    color: #585858 !important;
    width: auto;
    height: auto;
    font-size: 20px;
    border: none;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    display: -moz-box;
    -moz-box-orient: horizontal;
    display: box;
    box-orient: horizontal;
    margin: 0 auto;
    position: relative;
    padding: 3px 0 10px 10px;
    -webkit-box-flex: 200; /* Keep this */
    -moz-box-flex: 200; /* Keep this */
    box-flex: 200; /* Keep this */
    margin-left: 0;
    margin-right: 15px;
    text-shadow: 1px 1px 1px rgba(240,240,240,0.7);
 
/* flexbox setup */
    display: box;
    box-orient: horizontal;
    box-align: stretch;
}
 
/* This is the box styling before it is hovered over (normal state) */
.gallery > li {
    -webkit-box-flex: 200; /* Keep this */
    -moz-box-flex: 200; /* Keep this */
    box-flex: 200; /* Keep this */
    box-align: stretch;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important
    border-radius: 2px !important;
    margin-left: 0px;
    padding: 10px 70px 10px 5px;
    margin-right: -5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.28);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.28);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.28);
    width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
 
/* Box coloring (Each box starts left to right - colors for each box should go here */
/* You may also add or remove boxes for your own effects and styling */
/*
.gallery > li:nth-child(1){ background : rgba(32, 178, 170, 0.5); }
.gallery > li:nth-child(2){ background : rgba(0, 255, 0, 0.5); } 
.gallery > li:nth-child(3){ background : rgba(255, 255, 0, 0.5); }
.gallery > li:nth-child(4){ background : #21c1d1; }
.gallery > li:nth-child(5){ background : #71db00; }
.gallery > li:nth-child(6){ background : #fbdb15; }*/
 
/* This styles all of the boxes when you hover over them */
.gallery > li:hover {
      width: 250px;
    box-shadow: 0 0 10px rgba(0,0,0,0.28);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.28);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.28);
}
.pic-1
{
	background : rgba(32, 178, 170, 0.5);
}
.pic-2{
	background : rgba(0, 255, 0, 0.5);
}
.pic-3{
	background : rgba(255, 255, 0, 0.5);;
}
.pic-4
{
	background : rgba(139, 0, 0, 0.5);
}
.pic-5{
	background : rgba(192, 192, 192, 0.5);
}
.pic-6{
	background : rgba(244, 164, 96, 0.5);
}