<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>sesionAutentification</filter-name>
        <filter-class>filtros.sesionAutentification</filter-class>
    </filter>
    <filter>
        <filter-name>filtroProductos</filter-name>
        <filter-class>filtros.filtroProductos</filter-class>
    </filter>
    <filter>
        <filter-name>filtroTemas</filter-name>
        <filter-class>filtros.filtroTemas</filter-class>
    </filter>
    <filter>
        <filter-name>filtroUsuarios</filter-name>
        <filter-class>filtros.filtroUsuarios</filter-class>
    </filter>
    <filter>
        <filter-name>filtroContenido</filter-name>
        <filter-class>filtros.filtroContenido</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filtroContenido</filter-name>
        <url-pattern>/administrar_Articulos.jsp</url-pattern>
        <url-pattern>/registrarArticulo.jsp</url-pattern>
        <url-pattern>/modificarArticulo.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filtroUsuarios</filter-name>
        <url-pattern>/Administrar_usuario.jsp</url-pattern>
        <url-pattern>/registrarUsuario.jsp</url-pattern>
        <url-pattern>/ModificarUsuario.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filtroTemas</filter-name>
        <url-pattern>/administrar_Temas.jsp</url-pattern>
        <url-pattern>/registrarTema.jsp</url-pattern>
        <url-pattern>/modificarTema.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>filtroProductos</filter-name>
        <url-pattern>/administrar_Productos.jsp</url-pattern>
        <url-pattern>/registrarProducto.jsp</url-pattern>
        <url-pattern>/modificarProducto.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>sesionAutentification</filter-name>
        <servlet-name>administrarProductos</servlet-name>
        <servlet-name>administrarTemas</servlet-name>
        <servlet-name>administrarArticulos</servlet-name>
        <servlet-name>administrar_usuarios</servlet-name>
        <servlet-name>CambiarRol</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>prueba</servlet-name>
        <servlet-class>servlets.prueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>administrarProductos</servlet-name>
        <servlet-class>servlets.administrarProductos</servlet-class>
        <init-param>
            <param-name>carpeta</param-name>
            <param-value>uploads</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Visor</servlet-name>
        <servlet-class>servlets.GaleriaXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>terminator</servlet-name>
        <servlet-class>servlets.terminator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>administrarTemas</servlet-name>
        <servlet-class>servlets.administrarTemas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>administrarArticulos</servlet-name>
        <servlet-class>servlets.administrarArticulos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>servlets.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>administrar_usuarios</servlet-name>
        <servlet-class>servlets.administrar_usuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WidgetsXML</servlet-name>
        <servlet-class>servlets.WidgetsXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NosotrosXML</servlet-name>
        <servlet-class>servlets.NosotrosXML</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>facebook</servlet-name>
        <servlet-class>servlets.facebook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarRol</servlet-name>
        <servlet-class>servlets.CambiarRol</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>prueba</servlet-name>
        <url-pattern>/prueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Visor</servlet-name>
        <url-pattern>/Visor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>terminator</servlet-name>
        <url-pattern>/terminator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>administrarProductos</servlet-name>
        <url-pattern>/administrarProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>administrarTemas</servlet-name>
        <url-pattern>/administrarTemas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>administrarArticulos</servlet-name>
        <url-pattern>/administrarArticulos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>administrar_usuarios</servlet-name>
        <url-pattern>/administrar_usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WidgetsXML</servlet-name>
        <url-pattern>/WidgetsXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NosotrosXML</servlet-name>
        <url-pattern>/NosotrosXML</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>facebook</servlet-name>
        <url-pattern>/facebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarRol</servlet-name>
        <url-pattern>/CambiarRol</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>inicio.jsp</welcome-file>
    </welcome-file-list>
</web-app>
