<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>Inicio</filter-name>
        <filter-class>Filtros.Inicio</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Inicio</filter-name>
        <url-pattern>/inicio_sesion.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Autenticar</servlet-name>
        <servlet-class>Controladores.Autenticar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEmpleado</servlet-name>
        <servlet-class>Controladores.ServletEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSeccion</servlet-name>
        <servlet-class>Controladores.ServletSeccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletNoticia</servlet-name>
        <servlet-class>Controladores.ServletNoticia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRecursoMultimedio</servlet-name>
        <servlet-class>Controladores.ServletRecursoMultimedio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Autenticar</servlet-name>
        <url-pattern>/Autenticar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEmpleado</servlet-name>
        <url-pattern>/ServletEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSeccion</servlet-name>
        <url-pattern>/ServletSeccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletNoticia</servlet-name>
        <url-pattern>/ServletNoticia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRecursoMultimedio</servlet-name>
        <url-pattern>/ServletRecursoMultimedio</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>inicio_sesion.jsp</welcome-file>
    </welcome-file-list>
</web-app>
